<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form id="form" action="/newteam" method="POST">
  <p><label for="name">Team Name:</label>
  <input type="text" name="name" id="team_name" /></p>
  <p><label for="coach">Coach:</label>
  <input type="text" name="coach" id="user_input" /></p>
  <p><label for="pg">Point Guard:</label>
  <input type="text" name="pg" id="user_input" /></p>
  <p><label for="sg">Shooting Guard:</label>
  <input type="text" name="sg" id="user_input" /></p>
  <p><label for="sf">Small Forward:</label>
  <input type="text" name="sf" id="user_input" /></p>
  <p><label for="pf">Power Forward:</label>
  <input type="text" name="pf" id="user_input" /></p>
  <p><label for="c">Center:</label>
  <input type="text" name="c" id="user_input" /></p>
  <input id="Submit" type="submit" value="Submit"/>
  </form>
 </body>
</html>
